@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
}



/* Reset CSS */
* {
   margin:0;
   padding:0;
   box-sizing:border-box;
}

body {
    background-color:aliceblue;
    font-family: "PT Serif", serif;
    color:aliceblue;
    padding: 10px;
}

h2 {
    text-align: center;
}

header {
    background-color:palevioletred;
    margin: 10px 0;
    border-radius: 8px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center; /*vertical*/
    align-items: center; /*horizontal*/
}

#principal {
    display: flex;
    height: 800px;
    width: 100%;
    border-radius: 6px;
    justify-content:space-between;
}

main {
    background-color:lightpink;
    border-radius: 6px;
    height: 100%;
    width: 74%;
}

aside {
    background-color:pink;
    border-radius: 6px;
    width: 25%;
    height: 100%;

}
footer {
    background-color:palevioletred;
    border-radius: 6px;
    margin: 10px 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

footer p {
    font-size: 1.2rem;
    color:aliceblue;
}

footer a {
    color:aliceblue;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 1px solid 
}